<h1>Welcome to Strong Women!</h1>
<h3>Why Strong Women?</h3>
<div class="landing"><p>Women don’t have to be the ones just running on a treadmill or elliptical machine. <br>  
Strong Women was created to help break the taboo that women do cardio and men lift weights.  <br>
Lifting weights does not create the stereotypical bulky physique.  <br>
Lifting weights is empowering and shifts the focus from being “skinny” to being “strong.”  <br>
We want to send the message that…
</p></div>
<h3>STRONG IS BEAUTIFUL!</h3>
<p>You are not strong for a girl, </p>
<h3>YOU'RE JUST STRONG!</h3>
<div class="landing">
<p>We want to foster a safe, non-judgemental, uplifting community of like-minded and like-hearted <br>
women who want to work toward improving and enhancing mental, emotional, and physical well-being.</p>
<p>Results in weight training comes with consistency. <br>
Nothing happens overnight. This is why we are providing a way to plan, schedule, and <br>
track your workouts. You can create your own program or try another member’s for guidance. <br>
You can watch videos to give you instruction on optimal technique so you can learn as you go and lift safely.  <br>
You can keep track of your progress and personal records to memorialize your accomplishments!</p>
</div>
<h4>Now let’s get moving!</h4>
<div class="landing-img">
      <%= image_tag "meme.png", class: "landing-img" %>
</div>
