/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  background-color: #efefef;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
  height: 100%;
}

h1 {
  text-transform: uppercase;
}
/* CSS FOR STATIC ELEMENTS */

 .banner img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    max-height: 300px;
    border-radius: 15px;
   }

    .banner {
     width: 100%;
     margin: 0px auto;
     background-image: url('banner-background-2.png');
     background-position: center center, center top;
     background-repeat: repeat, no-repeat;
     border-radius: 15px;
   } 
  
    .banner ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
   } 

   .banner li.right {
    position: absolute;
    top: 120px;
    right: -45px;
    
   }

   .banner li.left {
     position: absolute;
     top: 120px;
     left: 100px;
     border: none;
     color: #ffffff;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     letter-spacing: normal;
     display: inline-block;
     font-size: 20px;
     font-weight: bold;
     border-radius: 20px;
   }

   
  
   .nav {
    background-color: #efefef;
    height: 30px;
    width: 100%;
    margin: 0px auto;
    padding: 0px;
  }
  
   .nav li {
     /*border: 1px solid black;*/
     float: left;
     overflow: hidden;
     display: inline-block;
     line-height: 30px;
     padding: 0px 15px;
     margin: 0px;
     color:#919090;
  
   }
  
   .nav li:hover {
     background-color: #efefef;
     border-radius: 15px;
     color: #2302f5;
   }
  
   .nav li a {
    text-decoration: none;
    color: #919090;
    font-weight: 800;
  }

  .nav li a:hover {
    color: #2302f5;
  }
  
  ul {
      border-radius: 15px;
  }
  
  li.right {
    float: right;
  }

  li.left {
    float: left;
  }

  li.center {
    float: top;
  }

  /* -----------CSS for Index Pages------------ */
  .index-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

  }

  .index-tile {
    padding: 10px 20px;
    margin: 8px 0px;
    text-align: justify;
    background-color: #919090;
    border: 5px solid black;
    border-radius: 15px;
  }

  .index-tile:hover {
    background-color: #efefef;

  }

a {
  color:black;
  text-decoration: none;
}

a:hover {
  color: #2302f5;
  font-style: italic;
}
/*-----------CSS for Forms------------*/
.form-buttons {
  border: none;
  background-color: white;
  color: #919090;
  padding: 15px 32px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
}


.form-buttons:hover {
  color: #2302f5;
  background-color: white;
  border-radius: 20px;
}

.btn-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  margin: 10px;
  padding-top: 25px;
}

.form-container {
  max-width: 1500px;
  height: auto;
  margin: 0px auto;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #919090;
  border-radius: 100px;
  text-align: center;
  color: white;
}

 .form-input {
  justify-content: center;
}

.form-input label {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #2302f5;

}

.form-input input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #efefef;

} 

.form-input select {
  border-radius: 5px;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #efefef;
}

.form-input input[type="file"] {
  color: #919090;
  display: inline-block;
  padding: 12px 18px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

/* --------------CSS for show pages --------------*/
.show-container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;

}

.show-tile {
  padding: 10px 40px;
  margin: 8px 10px;
  text-align: justify;
  background-color: #919090;
  border: 5px solid black;
  border-radius: 15px;
  flex-grow: 2;
}

/* .show-tile:hover {
  background-color: #efefef;
} */

.show-tile1 {
  padding: 10px 40px;
  margin: 8px 0px;
  text-align: center;
  background-color: #efefef;
  border: 5px solid black;
  border-radius: 15px;
}

/* .show-tile1:hover {
  background-color: #919090;

} */

.profile-pic img {
  border-radius: 50%;
  padding: 5px;
  width: 130px;
}

.showname {
    font-size: larger;
    font-weight: bolder;
}

/* CSS FOR IMAGES */

.exercises-img {
  border-radius: 15px;
}
.landing-img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-height: 400px;
    border-radius: 15px;
   }

.pr-img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    max-height: 300px;
    border-radius: 15px;
   }
   .congrats-img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-height: 150px;
    border-radius: 15px;
   }

.stronggroup-img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    max-height: 300px;
    border-radius: 15px;
   }

   /* CSS FOR ROOT */
   .landing {
       font-size: medium;
   }