/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
     background-color: #efefef;
     font-family: Arial, Helvetica, sans-serif;
 }
 .banner-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    max-height: 300px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
   }
  
   .banner {
     width: 100%;
     max-height: 400px;
     margin: 5px auto;
     background-color: #efefef;
   }
  
  
   .nav {
    background-color: #919090;
    height: 30px;
    width: 100%;
    margin: 0px auto;
    padding: 0px;
  }
  
   .nav li {
     /*border: 1px solid black;*/
     float: left;
     overflow: hidden;
     display: inline-block;
     line-height: 30px;
     padding: 0px 15px;
     margin: 0px;
  
   }
  
   .nav li:hover {
     background-color: #f7f3f3;
     transition: 250ms;
   }
  
   .nav li a {
    text-decoration: none;
    color: rgb(5, 5, 5);
    font-weight: 800;
  }
  
  ul {
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      border-top-right-radius: 15px;
  }
  
  .right {
    float: right;
  }
  

