/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .banner-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    max-height: 300px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
   }
  
   .banner {
     width: 100%;
     max-height: 400px;
     margin: 5px auto;
     background-color: #efefef;
   }
  
  
   .nav {
    background-color: #919090;
    height: 30px;
    width: 100%;
    margin: 0px auto;
    padding: 0px;
  }
  
   .nav li {
     /*border: 1px solid black;*/
     float: left;
     overflow: hidden;
     display: inline-block;
     line-height: 30px;
     padding: 0px 15px;
     margin: 0px;
     color: white;
  
   }
  
   .nav li:hover {
     background-color: #f7f3f3;
     border-radius: 15px;
     color: #57e6d8;
   }
  
   .nav li a {
    text-decoration: none;
    color: white;
    font-weight: 800;
  }

  .nav li a:hover {
    color: #57e6d8;
  }
  
  ul {
      border-radius: 15px;
  }
  
  li.right {
    float: right;
  }

  li.left {
    float: left;
  }

  /* -----------CSS for Index Pages------------ */
  .index-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

  }

  .index-tile {
    padding: 10px 20px;
    margin: 8px 0px;
    text-align: justify;
    background-color: #919090;
    border: 5px solid black;
    border-radius: 15px;
  }

  .index-tile:hover {
    background-color: #efefef;

  }
body {
  background-color: #efefef;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
}

a {
  color:black;
  text-decoration: none;
}

a:hover {
  color: #57e6d8;
}
/*-----------CSS for Forms------------*/
.form-buttons {
  border: none;
  background-color: white;
  color: #57e6d8;
  padding: 15px 32px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
}

/*
.form-buttons:hover {
  color: #919090;
  background-color: white;
  border-radius: 20px;
}*/

.btn-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  margin: 10px;
  padding-top: 25px;
}

.form-container {
  max-width: 1500px;
  height: auto;
  margin: 0px auto;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #919090;
  border-radius: 100px;
  text-align: center;
  color: white;
}

/* .form-input {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.form-input label {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 5px;

}

.form-input input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;

} */