<h1>All Workouts Scheduled:</h1>
<h3><% @appointments.each do |appointment|  %>
<%= link_to appointment.date, appointment_path(appointment) %> <br>
<% end%>
</h3>

<%# month_calendar(attribute: :date) do |date| %>
  <%# date %>
<%# end %> 