<h1><%= @exercise.name %></h1>

<p><%= @exercise.description %></p>

<iframe width="764" height="573" src=<%= @exercise.video %> frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
